<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        th,td {
    text-align: center;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }</style>

    <!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}"> -->
</head>

<body>
    <div class="container">

        <form method="post" action="/a_1">
            <label for="movie_genre">Search a Bond Number:</label>
            <input name="box" type="number" id="movie_genre">
            <input id="a_1" type="submit" value="Search">
        </form>
        {% if a_1_data %}
        <table>
            <tr>
                <th>Sr_No.</th>
                <th>Reference_No_(URN)</th>
                <th>Journal_Date</th>
                <th>Date_of_Purchase</th>
                <th>Date_of_Expiry</th>
                <th>Name_of_the_Purchaser</th>
                <th>Prefix</th>
                <th>Bond_Number</th>
                <th>Denominations</th>
                <th>Issue Branch Code</th>
                <th>Issue Teller</th>
                <th>Status</th>
            </tr>
            <br>
            {% for row in a_1_data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
                <br>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>