<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Bonds Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>



<body>
    <header>
        <h1 style="text-decoration: underline;">Bonds Purchased by a Company</h1>
    </header>

    <form method="POST" action="/searchcompany">
        <label for="company">Enter Company Name:</label>
        <select name="company">
            {% for i in company_names %}
                <option value="{{ i }}" {{ 'selected' if i == company_name else '' }}>{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="cursor: pointer;">Submit</button>
    </form>

    {% if company_purchase_data %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Sr No.</th><th>Reference No (URN)</th><th>Journal Date</th><th>Date of Purchase</th><th>Date of Expiry</th><th>Name of the Purchaser</th><th>Prefix</th><th>Bond Number</th><th>Denominations</th><th>Issue Branch Code</th><th>Issue Teller</th><th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in company_purchase_data %}
                <tr>
                    <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[4]}}</td><td>{{row[5]}}</td><td>{{row[6]}}</td><td>{{row[7]}}</td><td>{{row[8]}}</td><td>{{row[9]}}</td><td>{{row[10]}}</td><td>{{row[11]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br><br><br><br>




    {% if company_purchase_data_by_year %}
        <table style="width:50%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Purchase Year</th>
                    <th>No. of Bonds Purchased</th>
                    <th>Total Value of Bonds Purchased</th>
                </tr>
            </thead>
            <tbody>
                {% for row in company_purchase_data_by_year %}
                    <tr>
                        <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    <br><br><br>
    <div>
        <h3 style="text-decoration: underline;">Number of Bonds Purchased Yearly</h3>
        <canvas id="bondCountChart" style="max-height: 500px; max-width: 600px;"></canvas>
    </div>
    <br><br><br>
    <div>
        <h3 style="text-decoration: underline;">Total Amount Purchased Yearly</h3>
        <canvas id="totalAmountChart" style="max-height: 500px; max-width: 600px;"></canvas>
    </div>

    <script>
        // Bond Count Chart
        const ctx1 = document.getElementById('bondCountChart').getContext('2d');
        const bondCountChart = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: {{ year | tojson }},
              datasets: [{
                  label: 'Bonds Purchased',
                  data: {{ bond_count | tojson }},
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: { beginAtZero: true,
                    title: {text:"Number of Bonds Purchased", display: true},
                    ticks: {precision: 0},
                }
              }
          }
        });

      // Total Amount Chart
        const ctx2 = document.getElementById('totalAmountChart').getContext('2d');
        const totalAmountChart = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: {{ year | tojson }},
              datasets: [{
                  label: 'Total Amount',
                  data: {{ total_amount | tojson }},
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: { beginAtZero: true,
                    title: {text:"Total Amount Purchased", display: true}
              }
          }
        }
        });
      </script>
    {% endif %}


    </div>

    <br><br>
    <div>
        <a href="/">Back to Home</a><br><br>
    </div>

</body>
</html>