<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Donations Data</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>


<body>
    <header>
        <h1 style="text-decoration: underline;">Party Donations Data</h1>
    </header>

    <form method="POST" action="/partydonations">
        <label for="party">Enter Party Name:</label>
        <select name="party">
            {% for i in party_names %}
                <option value="{{ i }}" {{ 'selected' if i == party_name else '' }}>{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="cursor: pointer;">Submit</button>
    </form>

    <div>
    {% if party_donations_data %}
    <table>
        <thead>
            <tr>
                <th>Name of the Donating Company</th><th>Amount Donated</th>
            </tr>
        </thead>
        <tbody>
            {% for row in party_donations_data %}
                <tr>
                    <td>{{row[0]}}</td><td>{{row[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if total_donation %}
    <h3>Total Amount Collected = {{total_donation}}</h3>
    {% endif %}
    </div>
    <br><br>
    <div>
        <a href="/">Back to Home</a><br><br>
    </div>

</body>
</html>